<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="JIM_0364.jpg" alt="" id="profile"><br>
    <div id="link1">
        <a href="#" id="links">Projects</a>
        <a href="#" id="links">Contact Me</a>
    </div>
   <div > <p style="font-size: 1cm;margin-bottom: 0%;">Hello,i'm  <p style="color: hsl(180, 72%, 72%);font-size: 1cm;margin-top: 0%;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> <i> King Geofrey</i> </p> </p></div>
  <div>  <p style="color: hsl(30, 12%, 93%);font-size: 0.4cm;">I'm a Fullstack web developer and partly data Scientist. <br>
    Also teaches about the same. <br>
    Html,css and js being the basics i work using express.js  <br>
   on client side and nodejs on the server side. <br>
   i'm based in kenya. <br>
   if you have something to work on i'm always a text away.
</p>
  </div>
  <div id="slider">
    <div id="slide-track">
        <img src="image3.jpg" alt="" id="slide">
        <img src="image4.jpg" alt="" id="slide">
        <img src="image3.jpg" alt="" id="slide">
        <img src="image4.jpg" alt="" id="slide">
    
        <img src="image3.jpg" alt="" id="slide">
        <img src="image4.jpg" alt="" id="slide">
        <img src="image3.jpg" alt="" id="slide">
        <img src="image4.jpg" alt="" id="slide">
    </div>
    </div>
<div id="about">
    <h2>About Me</h2>
<p>I'm Full time Web developer who always ensure <br>
  tasks are done accordingly and on time. <br>
  over a decade of expertise in crafting elegant, user-centric digital experiences. My skill set encompasses front-end and back-end technologies, enabling me to create dynamic, responsive, and secure websites that leave a lasting impression.
  Have done several projects which might be insight 
  for you to trust my work.
</p>
</div>
 <div id="last">
    <div class="social-icons">
    <a href="#" style="background: linear-gradient(45deg, 
    hsl(333, 79%, 64%), 
    hsl(323, 100%, 58%), 
    hsl(29, 100%, 53%), 
    hsl(45, 100%, 51%)
);     -webkit-background-clip: text;-webkit-text-fill-color: transparent;"><i class="fab fa-instagram"></i></a>    
      <a href="#" style="   color: hsl(221, 44%, 41%);">  <i class="fab fa-facebook"></i></a>
      <a href="#" style="color: hsl(203, 89%, 53%);;">  <i class="fab fa-twitter"></i></a>
       <a href="#" style=" color: hsl(142, 45%, 41%);"> <i class="fab fa-whatsapp"></i></a>
    </div>
    <footer>
        <p>&copy;2024</p>
        <p>All rights reserved</p>
    </footer>
 </div>

</body>
</html>